@import url(../root.css);


.main {
    height: 100vh;
    margin: 10vh 10vw;
}


.moduleContainer {
    display: grid;
    grid-template-columns: 180px 80%;
    align-items: center;
    height: 200px;
    padding: 16px;

    background-color: #dedede;
    border-radius: 16px;
}

.moduleCircle {
    height: 150px;
    width: 150px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.moduleImg {
    height: 70%;
}
