<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Module Layout</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./moduleLayout.css">
    <link rel="icon" href="../img/pmts-logo-blue.png">
</head>
<body>
    
    <!-- BREADCRUMB -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">
                <a href="#">Home</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">
                <a href="#">Module Library</a>
            </li>
        </ol>
    </nav>

    <!-- PMTS menu -->
    <div class="pmtsMenu">
        <img class="pmtsImg" src="../../img/pmts-logo-blue.png">
    </div>

    <div class="main">

        <a href="./articleLayout/articleLayout.html">
        <div class="moduleContainer">
            <div class="moduleCircle">
                <img class="moduleImg" src="../img/module.svg">
            </div>
            <div class="moduleTxt">
                <h3><a href="./articleLayout/articleLayout.html">Article Layout</a></h3>
                <p>
                    Being simple, the Web — World Wide Web (WWW) — is a software that connect people
                    and information by something called hypertext links. 
                    The internet is the hardware that connect your 
                    computer with billions of others. And Web pages 
                    are documents inside the internet. The internet 
                    connects participants. The Web connects information... 
                    Specifically, hypertext documents accessed via the Internet.
                </p>         
            </div>
        </div>
        </a>
    </div>


</body>
</html>