@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Poppins&family=Space+Grotesk&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #121212;
    color: #fff;
    height: 100vh;
    font-family: "Poppins", sans-serif;
}


ul {
    list-style-type: none;
}

p {
    font-family: sans-serif;
    font-size: 24px;
}

.sub-headline {
    color: #bebebe;
}

hr {
    border: none;
    height: 1px;
    background-color: #333;
}

nav {
    height: 70px;
}

.container-links {
    margin: 10vh 20vw;
    display: grid;
    justify-content: left;
}

.parent {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    flex: 1;
}

.container {
    margin-top: 30vh;
    padding: 50px;
    background-color: rgb(239, 239, 239);
    color: #121212;
    border-radius: 6px;
    box-shadow: 0px 0px 8px 2px rgb(180, 180, 180);
}

.form {
    display: flex;
    gap: 16px;
}

.btn {
    width: 200px;
}

.output {
    margin-top: 16px;
    font-weight: 600;
}
