* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    opacity: 0.7;
}

body {
    margin: 0;
    background-color: #000;
    color: #fff;
}

section {
    position: relative;
    display: flex;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 16vw;
    padding-bottom: 0;
    margin-bottom: 32px;
    font-size: 22px;
    font-weight: 100;
}

.for-enterprise {
    padding: 10px 24px;
    color: #0795B7;
    margin-right: 64px;
    border: 2px solid transparent;
}

.for-enterprise:hover {
    border: 2px solid #0795B7;
    border-radius: 18px;
    opacity: 0.9;
    transition: all 0.3s ease 0s;
}

.header-btn {
    padding: 10px 32px;
    border-radius: 18px;
    background-color: #0795B7;
    color: #000;
    transition: all 0.3s ease 0s;
}

.header-btn:hover {
    opacity: 0.9;
}

.logo {
    height: 65px;
    width: auto;
}


/* HERO */

.hero {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 84px 16vw;
    padding-bottom: 0px;
    font-size: 5vh;
    font-weight: 500;
}

span {
    color: #0795B7;
    font-weight: bold;
}

.hero a {
    text-decoration: underline;
    font-size: 40px;
}

.hero-div-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 26px;
}

.hero img {
    height: 350px;
    width: auto;
}

.waves {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.waves svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 42px;
}

.waves .shape-fill {
    fill: #FFFFFF;
}

/* INFO */

.info {
    display: flex;
    justify-content: space-between;
    gap: 64px;
    padding: 10vw 16vw;
    background-color: #fff;
    color: #000;
}


.info-container {
    display: flex;
}

.title {
    font-size: 24px;
    font-weight: 700;
}

.card-text {
    font-size: 16px;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 21px;
}

.card {
    background-color: #fff;
}

.image {
    height: 400px;
    width: auto;
}

/* Second Info */

.second-info {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 44px 16vw;
}

.benefit-img {
    max-width: 150px;
    max-height: 150px;
}

.container {
    display: flex;
    gap: 24px;
    color: #333;
}

.container-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    width: 33%;
    border-radius: 5px;
    padding: 32px 22px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container-block h3 {
    padding-top: 16px;
}

.pre-footer-header {
    display: flex;
    justify-content: center;
    padding-top: 104px;
}

.pre-footer-header p {
    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: 500;
    color: #333;
    font-size: 3vh;
}


/* PRE-FOOTER */

.pre-footer {
    background-image: url('img/Success-full-blackrock.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: auto;
    background-position: center;
}



/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    background-color: #121212;
    padding: 32px 16vw;
    padding-top: 64px;
    gap: 50px;
}

h3 {
    margin: 0px;
    margin-bottom: 8px;
}

#copyright-year {
    color: inherit!important;
    font-weight: inherit!important;
}

.footer-container-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    width: 60%;
}

.fa {
    padding: 0px 16px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    padding-left: 0px;
}


.footer-container-2 {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    text-align: end;
}

.line-container {
    padding: 0px 16vw;
    background-color: #121212;
}

.line {
    padding: 0.5px;
    background-color: #fff;
    border-radius: 20px;
    opacity: 0.5;
}

.copyright-div {
    display: flex;
    justify-content: center;
    padding: 32px 20vw;
    padding-bottom: 24px;
    background-color: #121212;
}