<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article Layout</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./articleLayout.css">
    <link rel="icon" href="../../img/pmts-logo-blue.png">
</head>
<body>

    <!-- BreadCrumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">
                <a href="#">Home</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">
                <a href="../moduleLayout.html">Module Library</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">
                <a href="#">Article Layout</a>
            </li>
        </ol>
    </nav>

    <!-- PMTS menu -->
    <div class="pmtsMenu">
        <img class="pmtsImg" src="../../img/pmts-logo-blue.png">
    </div>

    <!-- content -->
    <div class="content container-fluid">
        <h1 class="text-center">What's the web?</h1>
        <h4><b>Preview</b></h4>
        <p>
            In this article you'll learn about web, the difference between web and internet and what are webpages and how they interact with us.
        </p>

        <hr>
        
        <p>
            The Internet is actually a huge network that is accessible to everyone & everywhere across the world. The network is composed of sub-networks comprising of a number of computers that are enabled to transmit data in packets. The internet is governed by a set of rules, laws & regulations, collectively known as the Internet Protocol (IP). The sub-networks may range from defense networks to academic networks to commercial networks to individual PCs. Internet, essentially provides information & services in the form of E-Mail, chat & file transfers. It also provides access to the World Wide Web & other interlinked web pages.
        </p>
        <p>
            The Internet & the Web, though used interchangeably, are not synonymous. Internet is the hardware part - it is a collection of [computer networks] connected through either copper wires, [fiber-optic cables or wireless connections] whereas, the World Wide Web can be termed as the software part – it is a collection of web pages connected through [hyperlinks] and [URLs].
        </p>
        <p>
            In short, the World Wide Web is one of the services provided by the Internet. Other services over the Internet include e-mail, chat and file transfer services. All of these services can be provided to consumers for use by businesses or government or by individuals creating their own networks or platforms.
        </p>
        <p>
            Another method to differentiate between both is using the Protocol Suite – a collection of laws & regulations that govern the Internet. While internet is governed by the [Internet Protocol] – specifically dealing with data as whole and their transmission in [packets], the World Wide Web is governed by the [Hyper Text Transfer Protocol] (HTTP) that deals with the linking of files, documents and other resources of the World Wide Web.
        </p>
        <p>
            The World Wide Web had a number of differences from other hypertext systems that were then available. The Web required only unidirectional links rather than bidirectional ones. This made it possible for someone to link to another resource without action by the owner of that resource. It also significantly reduced the difficulty of implementing web servers and browsers (in comparison to earlier systems), but in turn presented the chronic problem of [link rot]. Unlike predecessors such as [HyperCard], the World Wide Web was non-proprietary, making it possible to develop servers and clients independently and to add extensions without licensing restrictions.
        </p>

        <hr>
        
        <h4><b>Summary</b></h4>
        <p>
            Being simple, the Web — World Wide Web (WWW) — is a software that connect people
            and information by something called hypertext links. 
            The internet is the hardware that connect your 
            computer with billions of others. And Web pages 
            are documents inside the internet. The internet 
            connects participants. The Web connects information... 
            Specifically, hypertext documents accessed via the Internet.
        </p>

    </div>
    
    <br>
    <br>

    <div class="next container-fluid">
        <a href="../moduleLayout.html"><button class="viewModuleBtn btn">view module</button></a>
        <button class="completeBtn btn">mark complete</button>
        <button class="nextBtn btn">next article</button>
    </div>

    <br>
    <br>
    <br>


    <footer class="footer">
        <hr>
        <label for="range">Rate this article:</label>

        <div>            
            <input class="radio" name="feedback" type="radio">
            <label for="like">Good</label>
            
            <input class="radio" name="feedback" type="radio">
            <label for="like">Medium</label>

            <input class="radio" name="feedback" type="radio">
            <label for="like">Bad</label>

        </div>

        <br>
        <form class="footer-form">
            <label>Do you have any suggestion for improvement or feedback?</label>
            <br>
            <input class="form-control" type="text" placeholder="Give us feedback about this article">
            <button class="feedbackBtn btn btn-block btn-secondary">Submit</button>    
        </form>
    </footer>

    <br>
    <br>

</body>
</html>